body {
    background-color: #D8F3FA;
}

.flexbox {
    display: flex;
    background-color: tomato;
    color: darkblue;
    padding: 10px;
    text-align: center;
    float: right;
    border-radius: 10px;
}

.Bodybox {
    background-color: white;
    height: 1500px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    text-align:center;
}

.Titlemain {
    text-align:center;
    font-size: 50px;
}

.cultureTitle {
    font-size: 100px;
    text-align: center;
}

.Culturebox {
    display: flex;
    justify-content: center;
}

.lePs {
    font-size:25px;
}