body
{
    
}


.among {
    display:flex;
    justify-content: center;
    position:relative;
}



.us {
    margin-left: 60px;
    text-align: center;
    border: 5px solid red;
    height:400px;
    width:800px;
}

.hiddenModal1 {
    position:absolute;
    border: 10px solid blue;
    background-color:lightcoral;
    height:440px;
    width:440px;
    opacity:0;
}

.hiddenModal1:target {
   opacity: 1;
   pointer-events: auto;
   top: 10%;
   left: 20%;
}

.hiddenModal2 {
    position: absolute;
    border: 10px solid blue;
    background-color: lightcoral;
    height: 440px;
    width: 440px;
    opacity: 0;
}

.hiddenModal2:target {
    opacity: 1;
    pointer-events: auto;
    top: 10%;
    right: 15%;
}